body
{
    background: cyan;
}
h1
{
    text-align: center;
    background-color: aqua;
}
	ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
	.container{
		width: 90%;
		padding: 20px;
		margin: 100px auto;	 
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	

	.box{
		width: 250px;
		margin: 0 10px;
		box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
		transition: 1s;

	}
	.box img{
		display: block;
		width:100%;
		border-radius: 5px;
	}
	.box:hover{
		transform: scale(2.0);
		z-index: 2;
	}

	.d-box{
		width:90%;
		margin:50px auto;
		padding:10px;
		text-align: center;
	}

	.btn{		 
		text-decoration: none;
		font-size: 20px;
		font-family:arial;
		width:300px;
		border:none;
		outline: none;
		padding:15px 20px;
		background:rgba(0, 150, 136, .8);
		transition: .1s;
		color:white;
		border-radius: 5px;
	}

	.btn:hover{
		background:rgba(0, 150, 136, 1);
	}
